<html>
<head>
  <title>Demo Admin IOT</title>
  <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
  <script type="text/javascript">
  </script>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
</head>

<body>
    <h2>Monitor Devices</h2>
    <table>
      <tr>
        <th>DeviceId</th>
        <th>connectionState</th>
        <th>status</th>
        <th>lastActivityTime</th>
        <th>cloudToDeviceMessageCount</th>
        <th>Command</th>
      </tr>
      {% for iotdevice in devices %}
      {% if loop.first %}<br>{% endif %}
      <tr>
        <td>{{iotdevice.deviceId}}</td>
        <td>{{iotdevice.connectionState}}</td>
        <td>{{iotdevice.status}}</td>
        <td>{{iotdevice.lastActivityTime}}</td>
        <td>{{iotdevice.cloudToDeviceMessageCount}}</td>
        <td></td>
      </tr>
      {% endfor %}
    </table>

</body>
</html>
